@charset 'UTF-8';

// foundation
@import "./foundation/ress";
@import "./foundation/base";
@import "./foundation/variable";
@import "./foundation/mixin";

// layout
@import "./layout/l-header";
@import "./layout/l-main";
@import "./layout/l-footer";

// component
@import "./object/component/c-subtitle";
@import "./object/component/c-desc";
@import "./object/component/c-gridcard";
@import "./object/component/c-btn";
@import "./object/component/c-copyright";

// project
@import "./object/project/p-gnav";
@import "./object/project/p-mainvisual";
@import "./object/project/p-section";
@import "./object/project/p-grid";
@import "./object/project/p-sns";
@import "./object/project/p-topvisual";
@import "./object/project/p-sidemenu";

// utility
@import "./object/utility/u-mg";