.c-btn {
    color: #fff;
    width: 146px;
    height: 40px;
    background-color: $color-gray;
    &>a {
        font-size: 1.4rem;
        font-weight: $font-weight-l;
        color: #fff;
    }
    &.contact {
        height: 27px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        cursor: text;
        @include mq(pc) {
            font-size: 1.4rem;
        }
    }
    &.ft {
        border: 1px solid #fff;
        margin: 20px 0 70px 0;
    }
}

#contact {
    color: #fff;
    width: 146px;
    height: 40px;
    background-color: $color-gray;
    &>a {
        font-size: 1.4rem;
        font-weight: $font-weight-l;
        color: #fff;
    }
}

