.c-btn {
    width: 146px;
    height: 40px;
    background-color: $color-gray;
    &>a {
        font-size: 1.4rem;
        font-weight: $font-weight-l;
        color: #fff;
    }
    &.contact {
        height: 27px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}