.c-btn {
    color: #fff;
    width: 146px;
    height: 40px;
    background-color: $color-gray;
    @include mq(pc) {
        width: 175px;
        height: 48px;
    }
    &>a {
        font-size: 1.6rem;
        font-weight: $font-weight-l;
        color: #fff;
    }
    &.contact {
        font-size: 1.6rem;
        height: 40px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        cursor: text;
        @include mq(pc) {
            font-size: 1.8rem;
        }
    }
    &.ft {
        border: 1px solid #fff;
        margin-bottom: 70px;
    }
}

#contact {
    color: #fff;
    width: 146px;
    height: 40px;
    background-color: $color-gray;
    @include mq(pc) {
        width: 175px;
        height: 48px;
    }
    &>a {
        font-weight: $font-weight-l;
        color: #fff;
    }
}

