.c-desc {
    color: black;
    font-size: 1.4rem;
    font-weight: $font-wight-el;
    letter-spacing: 1.5px;
    @include mq(pc) {
        font-size: 1.6rem;
    }
    &_small {
        @extend .c-desc;
        font-size: 1.3rem;
    }

    &.ft {
        color: #fff;
    }
}

