.c-gridcard {
    &_img {
        object-fit: cover;
        width: 100%;
        height: 140px;
        @include mq(pc) {
            height: 280px;
        }
        &.big {
            height: 280px;
            @include mq() {
                height: 140px;
            }    
            @include mq(pc) {
                height: 280px;
            }
        }
    }
    &_name {
        font-size: 1.4rem;
        font-weight: $font-wight-el;
        letter-spacing: 1.5px;
        color: #fff;
        @include mq(pc) {
            font-size: 1.6rem;
        }
    }
}