.l-footer {
    padding-top: 50px;
    background-color: $color-gray;
    text-align: center;
    z-index: -100;
    &_logo {
        width: 209px;
        margin: 0 auto 50px auto;
    }
    &_txt {
        font-size: 1.1rem;
        font-weight: $font-wight-el;
        color: #fff;
    }
}