.l-header {
    position: relative;
    z-index: 100;
    @include mq(pc) {
        display: flex;
        justify-content: space-between;
    }
    &_logo {
        width: 103px;
        margin: 17px 0px 13px 15px;
        @include mq() {
            width: 150px;
        }
        @include mq(pc) {
            width: 208px;
        }
    }
    &_btn {
        position: absolute;
        top: -3px;
        right: 15px;
        @include mq() {
            top: 0;
        }
    }
    &_right {
        position: relative;
        @include mq(pc) {
            display: inline-block;
            margin: 0;
        }
        &-menu {
            position: absolute;
            top: -400px;
            width: 100%;
            height: 100%;
            transition: all .6S;
            @include mq (pc) {
                position: static;
            }
        
        }
        &-menu.show{
            top: 0;
        }
    }
} 