.l-header {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    position: fixed;
    z-index: 500;
    &_container {
        position: relative;
        z-index: 100;
        @include mq(pc) {
            display: flex;
            justify-content: space-between;
        }
    }
    &_logo {
        width: 103px;
        margin: 17px 0px 13px 15px;
        @include mq() {
            width: 150px;
        }
        @include mq(pc) {
            width: 208px;
            margin-left: 25px;
        }
    }
    &_btn {
        position: absolute;
        top: -3px;
        right: 15px;
        @include mq() {
            top: 0;
        }
    }
    &_right {
        position: relative;
        @include mq(pc) {
            display: inline-block;
            margin: 0;
        }
        &-menu {
            position: absolute;
            top: -400px;
            width: 100%;
            height: 100%;
            transition: all .6S;
            @include mq (pc) {
                position: static;
            }
        
        }
        &-menu.show{
            top: 0;
        }
    }
}