.p-gnav {
    position: relative;
    width: 21px;
    height: 15px;
    margin: 13px 11px 12px 10px;
    cursor: pointer;
    &_btn {
        position: absolute;
        top: 50%;
        left: 0;
        width: 21px;
        height: 3px;
        border-radius: 50px;
        background-color: $color-gray;
        &::before {
            display: block;
            content: "";
            position: absolute;
            top: -7px;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-color: $color-gray;
            transition: all 0.3s;
        }
        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-color: $color-gray;
            transition: all 0.3s;
        }
        &.show {
            background: transparent;
            &::before {
                top: 0;
                transform: rotate(-45deg);
            }
            &::after {
                bottom: 0;
                transform: rotate(45deg);
            }
        }
        @include mq(pc) {
            display: none;
        }    
    }
    &_menu>ul{
        padding: 0 13px 70px 13px;
        background-color: #fff;
            @include mq(pc) {
                display: flex;
                padding: 0;
            }
            &>li {
                padding: 13px 0;
                border-bottom: solid 1px $color-gray;
                text-align: center;
                @include mq(pc) {
                    margin: 25px;
                    border: none;
                }
            &>a {
                font-size: 1.4rem;
                font-weight: $font-weight-l;
                color: black;
            }
        }
    }
}