.p-mainvisual {
    position: relative;
    height: 576px;
    @include mq(pc) {
        height: 450px;
    }
    &_img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include mq(pc) {
            object-position: 50% 75%;
        }
    }
    &_logo {
        width: 15%;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        @include mq() {
            display: none;
        }
    }
    & .sp {
        @include mq() {
            display: none;
        }
    }
    & .pc {
        display: none;
        @include mq() {
            display: block;
        }
    }
}

