.p-section {
    margin-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    &.ft {
        margin-bottom: 50px;
    }
    &_title {
        margin-bottom: 30px;
        &.ft {
            margin-bottom: 40px;
        }
    }
    @include mq(pc) {
        margin-top: 75px;
        padding-bottom: 22px;
        &_title {
            margin-bottom: 45px;
        }
    }
    &_txt-jump {
        color: black;
        font-weight: bold;
        text-decoration: underline;
    }
}