.p-sidemenu {
    @include mq() {
        margin: 0 16%;
    }

    @include mq(pc) {
        margin: 0 20%;
    }
    &_btn {
        margin: 7px 4px;
        background-color: $color-pink;
        &:hover {
            background-color: #fff;
            border: 2px solid $color-pink;
        }
        >a {
            color: #000;
        }
        @include mq() {
            margin: 9px 6px;
        }
        @include mq(pc) {
            margin: 12px;
        }
    }
}